GITLAB_PORT_HTTP=10085
GITLAB_SSH_PORT=10022
GITLAB_PORT_HTTPS=10443

DATA_STORE_PATH=/srv/docker/gitlab/gitlab

GITLAB_HTTPS=true
SSL_SELF_SIGNED=true
GITLAB_HOST=gitlab.example.com

GITLAB_PORT=10443

GITLAB_BACKUP_SCHEDULE=daily

CI_SERVER_URL=https://gitlab.power-theory.io:10443
REGISTRATION_TOKEN=999999999999999